@font-face{
    font-family: "JF flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot) format("embedded-opentype"),
         url('../fonts/JF-Flat-regular.svg#JF flat Reguler') format("svg"),
         url(../fonts/JF-Flat-regular.woff) format('woff'),
         url(../fonts/fa-solid-900.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal

}

body{
    font-family: "JF flat Regular",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555555;
    line-height: 1.429;
}


.custom-navbar{
    border-bottom: 3px solid #eef0ea;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}

.custom-navbar .container .navbar-brand{
    margin-left:30px ;
    margin-top: 4px;
}
.custom-navbar .container{
    padding: 0 ;
}

.custom-form-control, .custom-btn {
    border: 1px solid #ebebeb;
    box-shadow: none;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.3s ease;
    padding: 6px 16px 7px 16px;
    color:#868686 ;
}

.custom-navbar .container .custom-from-control:focus {
    border-color: #C2101e;
    box-shadow:0 0 2px 0 #C2101e;
}

.custom-btn:hover{
    background-color: #d4d4d4;
    border: 1px solid #8c8c8c;
    color: #b06d07;
}

.categories .nav-link{
    border-right: 0;
    border-radius: 0;
}

.dropdowm-meun{
    text-align: right !important;
}

.custom-dropdown-menu .checkbox{
    display: inline-block;
    margin: 0 5px;
}

.custom-dropdown-menu{
    border-radius: 2px;
    box-shadow:0 2px 5px 0 #ebebeb ;
    color: #777;
}

.custom-dropdown-menu .checkbox label input{
    margin-left: 5px;
}

.custom-navbar .search-btn{
    background-color: #ff3956;
    border-color: #ff3956;
    color: #fff;
    padding: 5px 15px 7px 15px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
}

.custom-navbar .search-btn:hover,
.custom-navbar .search-btn:active,
.custom-navbar .search-btn:focus,
.custom-navbar .search-btn:active:focus,
.custom-navbar .search-btn:active:hover{
    background-color: #C2101e;
    border-color: #C2101e;
    color: #ffffff;
}

.custom-navbar .navbar-nav li a.nav-link{
    color: #555555;
    font-size: 14px;
    padding: 15px;
}

.custom-navbar .navbar-nav li a.nav-link:hover{
    color: #000;
}

.custom-navbar .navbar-nav li.active a.nav-link{
    color: #ff3956;
    border-bottom: 1px solid #ff3956;
    font-weight: 700;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color: #e7e7e7;
}

.nav-item.dropdown .dropdown-menu{
    left: auto;
}

.custom-dropdown-menu li a:hover{
    background-color: #ffe7ea;
}

.custom-navbar a.btn-icon{
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

.custom-navbar .navbar-nav li:last-of-type{
    margin-top: 8px;
}

.custom-navbar .btn-icon:hover{
    color: #000000;
    background-color: #bfbfbf;
}

/*المتنجات المميزة*/

.carousel-row>.col-12{
  padding-right: 0px;
  padding-left: 0px;
}
#carousel-featured{
    background-color:#f7f8f3 ;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img{
    height: 375px;
    margin-left: 0;
    margin-right: 0;
}

#carousel-featured  .product-details{
    border: 1px solid #dddddb;
    padding: 28px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #f7f8f3;
}

#carousel-featured  .product-details .product-category{
    border: 1px solid #dddddb;
    padding: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color:#f7f8f3 ;
}

#carousel-featured  .product-details .custom-btn-primary{
    color: #f8ad47;
    border-color: #f8ad47;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 2px;

}

.sale{
    background-color: #53ccd7;
    color: white;
    font-weight: bold;
    position: absolute;
}

.sale.large{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  left: -15px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-25deg);
  font-size: 130%;
  padding: 35px;
  line-height: 90%;
  flex-direction: column;
}

#carousel-featured  .product-details .sale-large span{
    font-size: 14px;
}

#carousel-featured  h1{
    font-size: 175%;
    font-weight: 700;
    margin-top: 9px;

}

 .custom-carousel-indicators-primary{
    top: 235px;
    right: 41%;
}

.custom-carousel-indicators-primary img{
    height: 75px;
    width: 75px;
    background-color: #fff;
    border: 2px solid #dddddb;
    margin-right: 2px;
}

.custom-carousel-indicators-primary img.active{
    border-color: #b06d07;
}

#carousel-featured .carousel-control-prev,
#carousel-featured .carousel-control-next{
    color:#868686 ;
    font-size: 20px;
}

#store-feature{
    box-shadow: 0 0 15px #eef0ea ;
    position: relative;
    top: -30px;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-color:#fff ;
    padding-bottom: 35px;
    padding-top: 25px;
    background-size: auto 60%;
    background-position: -10px -20px;

}
   /*مقال حسوب عن المحددات*/
#store-feature .feature>img{     
    height: 40px;
    margin-bottom: 10px;
}

#store-feature .feature.feature{
    border-right: 1px solid #eef0ea;
}

h3.custom-heading {
    font-size: 24px;
    margin-bottom: 25px;
}

 .custom-thumball{
  border: 2px solid #eef0ea;
  padding: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.custom-thumball:hover{
  border-color: #53ccd7;
}

.custom-thumball h4{
  font-size: 18px;
  padding-top: 10px;
}

.custom-thumball .card-body{
    padding: 9px;
}

.custom-thumball .price{
    padding-top:10px ;
}

.price{
    color: #53ccd7;
}

.reting{
    color: #c2c2c2;
}

.reting .active{
    color: #f3af41;
}

.custom-thumball .overlay{
    position: absolute;
    background-color: rgba(83, 204, 215, .5);
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s ease;
    
}

.overlay:hover{
    opacity: 1;
}

.custom-thumball .add-to-cart-btn{
    background-color: #fff;
    color: #53ccd7;
    font-weight: bold;
}

.custom-thumball .add-to-cart-btn:hover,
.custom-thumball .add-to-cart-btn:active,
.custom-thumball .add-to-cart-btn:focus,
.custom-thumball .add-to-cart-btn:active:focus,
.custom-thumball .add-to-cart-btn:active:hover{
    color: #000;
    
}

.custom-thumball .sale{
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
    direction: ltr;
}

.custom-thumball .sale::before{
    content: "-";
}

.custom-carousel-indicators>li{
    height: 13px;
    width: 13px;
    margin: 2px;
    background-color: #dbdbdb;
}

.custom-carousel-indicators>li.active{
    background-color: #565656;
}
#carousel-most-sold .carousel-indicators{
    position: static;
}

.custom-thumball img{
    height:250px ;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

/* الماركات العالمية */
 .custom-pane{
    border: 4px solid #eef0ea;
    border-radius: 2px;
    box-shadow: none;
    padding: 20px;
 }

 .custom-pane .product-image{
    width: 100%;
    margin-bottom: 8px;
 } 
  .custom-btn-primary{
    color: #f8ad47;
    border-color: #f8ad47;
    background-color: transparent;
  }

  .custom-btn-primary:hover,
  .custom-btn-primary:active,
  .custom-btn-primary:focus,
  .custom-btn-primary:active:focus,
  .custom-btn-primary:active:hover{
    color: #b06d07;
    border-color: #b06d07;
    background-color: transparent;
  }

  .custom-pane h4,.custom-pane .price{
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 15px;
  } 

  .custom-text-muted{
    color: #a9a9a9;
  }

  .custom-arrow-btn{
    background-color: #fff;
    color: #868686;
    border: 1px solid #ededed;
    box-shadow: none;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .brand-products{
    margin-bottom: 20px;
  }

  .brand-text {
    display: inline-block;
  }

  .brand-products .brand-nav{
    margin-top: 14px;
  }

  .row-brands h3.custom-heading{
    border-top: 1px solid #eef0ea;
    padding-top: 25px;
  }

  /* تذليل الصفحة */
  #brand-logos{
    background-color: #dbeefa;
    padding: 25px 0;
    color: #555555;
  }

  #brand-logos img{
    margin-left: 25px;
    margin-right: 25px;
    max-height: 100px;
    max-width: 100px;
  }

  #footer-nav{
    background-color: #1f1e1e;
    padding: 50px 0 40px;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
  }

 #footer-nav-link{
    margin: 30px 0;
 }

 #footer-nav-link a{
    color: #555555;
    margin-left: 30px;
    font-weight: bold;
 }

 #footer-nav-link a:hover{
    text-decoration: none;
 }

 #footer-nav #newsletter{
    border-top: 1px solid #292929;
 }

 #footer-nav form{
    max-width: 260px;
    margin: auto;
 }

 input[type=email]{
    direction: rtl;
    text-align: right;
 }

 #footer-nav form label{
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
 }

 .custom-btn-primary2{
    color: #000;
    background-color: #f3af41;
    border-color: #f3af41;
 }

 .custom-btn-primary2:hover,
 .custom-btn-primary2:active,
 .custom-btn-primary2:focus,
 .custom-btn-primary2:active:focus,
 .custom-btn-primary2:active:hover{
    background-color: #b06d07;
    border-color: #b06d07;
    color: #000;
 }

 #newsletter form input{
    background-color: #313131;
    opacity: .6;
    height: 38px;
    border: none;
 }

 #newsletter form button{
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 6px 12px 5px;
    font-size: 14px;
    color: inherit;
 }

 #footer-copyright-social{
    background-color: #151515;
    color: #303030;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
 }

 #footer-copyright-social a{
    color: #303030;
    margin-left: 5px;
    margin-right: 5px;
 }


 /* MEDIA QUERY */

 @media(max-width: 1199px) {
    .custom-navbar .navbar-nav li a.nav-link{
        padding: 8px;
    } 
 }

 @media(max-width:991px)and (min-width:768px){
    .custom-thumball img {
        height: 200px;
    }
 }

 @media(max-width: 991px) {
    .custom-navbar{
        padding: 15px 20px 30px;
    }
    
    .navbar-header{
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }

    .custom-navbar .container{
        max-width: 100%;
    }

    .navbar-header .btn-icon {
        float: left;
    }

    .form-inline {
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee ;
        padding: 10px 0;
    }

    .form-inline .dropdowm {
        display: none;
    }

    .form-inline .custom-form-control {
        width: 90%;
    }
    
    .form-inline .search-btn{
        width: 10%;
    }

    .custom-navbar a.btn-icon,
    .custom-navbar button.btn-icon{
        color: #777;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 2px 10px 4px;
        background-color: transparent;
        font-size: 18px;
    }

    .custom-navbar .navbar-nav li a.nav-link{
        padding: 10px 15px;
    }

    .navbar-collapse{
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }

    #carousel-featured .carousel-indicators{
        margin-right: 1%;
    }
    .overlay{
        display: none;
    }

    .custom-thumball .add-to-cart-btn{
        background-color: #fff;
        color: #868686;
        font-weight: normal;
    }

    #copyright,#social-icons {
        width: 100%;
        text-align: center;
    }

    #social-icons{
        font-size:150%;
        margin-top: 10px;
    }

   

   

    
 }

 @media(max-width: 767px) {
    #carousel-featured,#carousel-featured .product-details{
        height: auto;
        text-align: center;
    }

    #carousel-featured .product-details{
        position: static;
    }

    #carousel-featured{
        padding-bottom: 25px;
    }

    #carousel-featured .carousel-item img{
        height: 250px;
    }

    #carousel-featured .custom-carousel-indicators-primary{
        display: none;
    }

    #brand-logos img {
        max-height: 50px;
        max-width: 50px;
        margin: 5px 24px 5px 23px;
    }
    #footer-nav .footer-logo{
        margin-bottom: 30px;
    }

    #footer-nav form{
        max-width: 100%;
        width: 100%;
    }

    #newsletter form .input-group{
        width: 100%;
    }
    
 }

 @media(max-width: 575px) {
    .form-inline .custom-form-control {
        width: 80%;
    }
    
    .form-inline .search-btn{
        width: 20%;
    }

    #carousel-featured .carousel-item {
        padding: 0px 18px;
    }

    #footer #brand-logos .img-container img{
        margin: 5px 15px;
    }
 }


